*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;

}
#main{
  height: 100%;
  width: 100%;
  background-color: antiquewhite;


}
.part{
  height: 60%;
  
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: 10%;
  border: 2px rgb(235, 155, 155) solid ;
  border-radius: 20px;
}
.youbutton{
  height: 85px;
  width: 85px;
  margin-left: 20px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

}
#youheading{
  position: absolute;
  color:rgb(235, 155, 155);
  text-align: center;
  translate: 0px -250px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  
}
#compheading{
  position: absolute;
  color: rgb(235, 155, 155);
  text-align: center;
  translate: 0px -250px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 15px;
}
img{
  width: 100%;
}
#computer{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
#compchoice{
  background-color: rgb(247, 226, 187);
  height: 90px;
  width: 90px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(235, 155, 155) ;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bolder;

}
#winner{
  translate: 600px;
  height: 10%;
  background-color: rgb(187, 124, 41);
  width: 20%;
  align-items: center;
  display: flex;
  justify-content: center;
  color: rgb(237, 235, 235);
  font-size: xx-large;
  font-weight: bolder;
 
  font-family: Arial, Helvetica, sans-serif;
  
  
}
#lower{
  display: flex;
  height: 80%;
  width: 100%;
  margin-top: 10%;
}